/*
Project: Aplicacion Web para DIW
Version: 1.0
Last change: 31.10.2022
Assigned to: Claudia Y Lopez Lafita

[TABLA DE CONTENIDOS]

1. Main

[CÓDIGOS DE COLOR]

h1 y h2: blue

[FUENTES Y TIPOGRAFIAS]

--------------------------------------------------------------------------------------------------
*/

/*import mobile.ss*/
@import url('mobile.css') screen and (min-width: 480px);

main h1, h2{
    color: blue;
    font-family: "Indie Flower";
}
