// Ejercicio 1:
$hSize:36px;

// Ejercicio 3.:
$colSize: 8.33333%;

//Ejercicio 8:

$sizeValues: 10px, 12px, 15px, 18px, 24px, 36px, 48px, 64px;
$sizes: tiny,small,medium,large,xlarge,xxlarge,xxxlarge,jumbo;

//Ejercicio 10
$index:16;

//Ejercicio 11
$index2: 64;

/*color*/
$black: #000;
$white: #fff;
$pink:#e91e63 ;

/*background color*/
$yellow: #ffc107;
$Cian: #00ffff;
$blue: #2196f3;
$lightblue:  #87ceeb;

/*boder-color*/
$brown:  #795548 ;
$olive: #8bc34a ;
$lightYellow :#f0e68c;
$orange: #ff5722 ;
$lila:#9c27b0;
$grey: #9e9e9e