/*
Project: UD03-T01-EVALUABLE-Implantación de Contenidos Multimedia
Version: 1.0
Last change: 06.12.2022
Assigned to: Claudia Y Lopez Lafita

--------------------[TABLA DE CONTENIDOS]----------------------

1. GENERAL
2. VIDEO RULES
3. NAVBAR RULES
4. MAIN RULES
5. PRINCIPAL RULES
6. SIDEBAR RULES
7. FOOTER RULES

----------------------[CÓDIGOS DE COLOR]------------------------

sombra de rojo:  #C41010
blanco: #fff
beckers Lovikagrå 505: #D9D9D9
negro: black
variacion Pantone / PMS 195 UP: #835c5c
humo blanco: whitesmoke
Ford Alberta Blue: #050A30

----------------------[FUENTES Y TIPOGRAFIAS]-------------------

'Racing Sans One', cursive
'Montserrat', sans-serif
----------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&display=swap');


body {
  background: #050a30;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 0;
  width: 100%;
}

.container{
  width: 100%;
}
/*Starts video rules*/
#myVideo {
  background-color: black;
  position:fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 110%;
  /* width: 1400px;
  height: 700px; */
}

.videoNone {
  display: none;
}
  
.content {
  position:fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
  
#myBtn, #myBtn2 {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover, #myBtn2:hover {
  background: #ddd;
  color: black;
} 

#textAnimation {
  color: #C41010;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

.animation{
  position: relative;
	display: block;
	margin: 0;
	font-size: 3rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
}

p.animation{
  font-size: 2rem !important;;
}

.animation::before, .animation::after{
  position: absolute;
  content: '';
  width: 0px;
  height: 1px;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: -1;
}

.animation::before{
  top: 1.4rem;
  animation: draw 5s linear 5s forwards;
}

.animation::after{
  bottom: 0.4rem;
  animation: draw 5s linear 5s forwards;
}

@keyframes up {
	100% {
		transform: translateY(0);
	}
	
}

@keyframes draw {
	100% {
		width: 100%;
	}
	
} 
/*En video rules*/

/* Starts Navbar rules */
nav{
  display: flex;
  background-color:#ffff;
  height: 80px;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-logo{
  width: 35%;
}

nav img{
  width: 35%; 
  height: 80%;
  margin-left: 20%;
}

.container-nav{
  width: 75%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-around !important;
}

nav ul{
  padding: 0;
}

nav li{
    display: inline;
    list-style-type: none;
    text-align: -webkit-match-parent;
    align-items: center;
}

li a{
  padding: 0.5rem;
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

button{
  align-items: center;
  background-color: #FF1616;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button:hover,
button:focus { 
  background-color: #C41010;
  color: #ffffff;
}

/* End Navbar rules */

/* Starts main rules*/

.main{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin: 10px ; */
}

/* End main rules*/

/* Start .principal rules */

.principal{
  flex-grow: 8;
  background-color: #D9D9D9;
  padding: 2em;
  margin: 10px 15px;
  border-radius: 20px;
  width: 150%;
}

h1{
  font-family: 'Racing Sans One', cursive;
  color: #050a30;
  text-align: center;
  margin: 0;
}

article{
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
}

hr{
  background-color:red;
  border: 2px solid red;
  border-radius: 20%;
  width: 15%;
  margin: 0 auto;
}

article img{
  width: 70%;
  padding-bottom: 0;
  margin-bottom:0;
  margin-left: 145px;
}

article h2{
  font-family: 'Racing Sans One';
  margin-bottom: 0px;
}

article hr{
  background-color:red;
  border: 1px solid red;
  border-radius: 20%;
  margin-left: 0;
}
section .licenciaImg{
  width: 8%;
  padding-top: 0;
  margin-top: 0;
}

section a{
  text-decoration:none;
  color: black;
}

/* End .principal rules*/

/* Start .sidebar rules */

.sidebar{
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  padding: 1em;
  border-radius: 20px;
  /* margin: 10px 0px; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 50%;
}

.banner img{
  width: 80%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-left: 10%;
}

.banner:hover img{
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  transition: all ease 0.2s;
}

.banner{overflow:hidden;}

.info{
  width: 95%;
  margin-top: 15px;
  margin-left: 5%;
}
/* End .sidebar rules*/

/* Starts footer rules*/
footer {
  background-color: #fff;
  grid-column: 1/13;
  grid-row:4;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  color: #343a40;
  border-top: 3px solid #FF1616 ;
}

footer p{
  margin: 2px;
  font-size:medium;
}

footer a{
  color: #343a40;
  font-size: small;
}

footer img {
  width: 15%;
}

#licencias{
  margin-left: 40%;
}

.logo{
  margin:auto;
  display:block;
}
/* End footer rules*/



