/*
Project: Aplicacion Web para DIW
Version: 1.0
Last change: 02.11.2022
Assigned to: Claudia Y Lopez Lafita

[TABLA DE CONTENIDOS]

1. Header > nav
3. Navbread
2. Main
4. Footer
5. Responsive

[CÓDIGOS DE COLOR]

[FUENTES Y TIPOGRAFIAS]

h1 y h2: Indie Flower

--------------------------------------------------------------------------------------------------
*/

/*2. MAIN*/

.mobile{
    display: none;
}
