/*
Project: Aplicacion Web para DIW
Version: 1.0
Last change: 02.11.2022
Assigned to: Claudia Y Lopez Lafita

--------------------[TABLA DE CONTENIDOS]

1. Reglas-AT
2. Header > nav
3. Navbread
4. Main
5. Footer
6. Responsive

----------------------[CÓDIGOS DE COLOR]------------------------

body: white

nav: #D0D3D4

nav div1:#F7DC6F
nav div2:#F8C471 
nav div3:#F0B27A
nav div4:#E59866
nav div active: black 

a:active: #2874A6

main background-color:#FAE5D3 
h1,h2: green

border1:lightgrey;
border2: #504f4f

----------------------[FUENTES Y TIPOGRAFIAS]-------------------

h1 y h2: Indie Flower

--------------------------------------------------------------------------------------------------
*/

/*1. REGLAS-AT*/

@charset "UTF-8";
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*import mobile.ss*/
@import url('mobile.css') screen and (min-width: 480px);


* {
    box-sizing: border-box;
}
  
body{
    background-color: white;
    width: 80%;
    margin-left: 12%;
    box-shadow: 5px 10px 8px 10px #888888;
}


/*2. HEADER > NAV STYLE*/

ul {
    list-style-type: none;
    position: sticky;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#D0D3D4 ;
}

li {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:visited{
    color: #2874A6;
} 
  
li a.active {
    color: white;
    background-color: black ;
}

nav li:nth-child(2){
    margin-left: 20%;
}

nav input{
    margin-top: 5.5%;
    margin-left: 5%;
}

.link-1{background-color: #F7DC6F ;}
.link-2{background-color: #F8C471 ;}
.link-3{background-color: #F0B27A;}
.link-4{background-color: #E59866;}

nav li:not(:first-child) a:nth-child(-n+2)::after{
    content: "  🔽";
}

/*3. NAVBREAD*/

.navbread ul{
    background-color: #FAE5D3 ;
    border-bottom:1px solid lightgrey;
}

.navbread a {
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbread li:first-child{
    margin-left: 3%;
}

/*4. MAIN*/

main{
    padding-bottom: 15%;
    padding-top: 15%;
    text-align: center;
    background-color: #FAE5D3 ;
}

main h1, h2{
    color: green;
    font-family: 'Indie Flower', cursive;
}

/*5. FOOTER*/

footer {
    align-items: center;
    border-top: 1px solid #504f4f;
    display: flex;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    justify-content: space-between;
    padding: 2em;
}

footer p{
    margin: 2px;
}
  
footer img {
    width: 50px;
}
